.navigation a {
    cursor: pointer;
}

.navigation a:hover {
    background-color: #ffffff;
    border-color: #DADADA;
}

.square {
    transition: width 1s, height 1s, transform 1s;
}

.square:hover {
    width: 240px;
    height: 240px;
    transform: scale(1.1)
}