/* fonts */
@font-face {
    font-family: "Sofia Sans";
    src: url("resources/fonts/SofiaSans-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Sofia Sans Italic";
    src: url("resources/fonts/SofiaSans-Italic-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Prompt Regular";
    src: url("resources/fonts/Prompt-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Prompt Bold";
    src: url("resources/fonts/Prompt-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Prompt Italic";
    src: url("resources/fonts/Prompt-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Merriweather Regular";
    src: url("resources/fonts/Merriweather-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Merriweather Bold";
    src: url("resources/fonts/Merriweather-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Merriweather Italic";
    src: url("resources/fonts/Merriweather-Italic.ttf") format("truetype");
}

* {
    box-sizing: border-box;
}

body {
    background-color: #DADADA;
    margin: 0px;
    padding: 0px;
}

/* navigation */
.navigation {
    background-color: #ffffff;
    left: 0px;
    top: 0px;
    overflow-y: auto;
    padding: 5px;
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 999;
}

.navigation ul {
    margin: 0px;
    padding: 0px;
}
 
.btn {
    font-family: "Sofia Sans";
    font-size: 20px;
    float: left;
    width: 140px;
    height: 50px;
    margin: 20px 30px;
    background-color: #DADADA;
}

/* main banner */
.main-banner {
    background-color: #1C1C1C;
    height: 520px;
    width: 100%;
    position: relative;
    text-align: center;
    top: 50px;

}

.main-banner h1 {
    font-family: "Knewave";
    font-size: 64px;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
    top: 193px;
    bottom: 304px;
}

.color {
    position: relative;
    top: 50px;
    text-align: center;
    height: 490px;
    padding: 50px;
}

.color h2 {
    font-family: "Mogra";
    font-size: 40px;
    text-transform: uppercase;
    margin: 0px;
    padding: 10px;
}

.center-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color .square {
    height: 190px;
    width: 190px;
    display: inline-block;
    margin: 0 30px;
}

.one {
    background-color: #023E8A;
}

.two {
    background-color: #0077B6;
}

.three {
    background-color: #90E0EF;
}

.four {
    background-color: #CAF0F8;
}

.color p {
    font-family: "Sofia Sans";
    font-size: 20px;
    height: 50px;
    width: 190px;
    margin: 20px 30px;
}

.fonts {
    position: relative;
    top: 50px;
    height: 640px;
    background-color: #505050;
    color: #ffffff;
    text-align: center;
    padding: 50px;
    overflow-y: scroll;

}

.fonts h2 {
    font-family: "Mogra";
    font-size: 40px;
    text-transform: uppercase;
    margin: 0px;
    padding: 10px ;
}

.font {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.font01 {
    text-align: left;
    margin-right: 30px;
}

.font01 h3 {
    font-family: "Nunito Sans";
    font-size: 24px;
    text-decoration: underline;
}

.font01 p {
    font-family: "Nunito Sans";
    font-size: 20px;
}

.font01 .bold {
    font-family: "Nunito Sans";
    font-size: 20px;
    font-weight: 700;
}

.font01 .italic {
    font-family: "Nunito Sans";
    font-size: 20px;
    font-style: italic;
}

.font02 {
    text-align: left;
    margin-left: 30px;
}

.font02 h3 {
    font-family: "Prompt Regular";
    font-size: 24px;
    text-decoration: underline;
}

.font02 p {
    font-family: "Prompt Regular";
    font-size: 20px;
}

.font02 .bold {
    font-family: "Prompt Bold";
    font-size: 20px;
}

.font02 .italic {
    font-family: "Prompt Italic";
    font-size: 20px;
}

.font03 {
    text-align: left;
    margin-top: 20px;
}

.font03 h3 {
    font-family: "Merriweather Regular";
    font-size: 24px;
    text-decoration: underline;
}

.font03 p {
    font-family: "Merriweather Regular";
    font-size: 20px;
}

.font03 .bold {
    font-family: "Merriweather Bold";
    font-size: 20px;
}

.font03 .italic {
    font-family: "Merriweather Italic";
    font-size: 20px;
}

.text-style {
    position: relative;
    top: 50px;
    text-align: center;
    padding: 50px;
}

.text-style h2 {
    font-family: "Mogra";
    font-size: 40px;
    text-transform: uppercase;
    margin: 0px;
    padding: 10px ;
}

.style {
    text-align: left;
}

.style h1 {
    font-family: "Nunito Sans";
    font-size: 48px;
    font-weight: 700;
}

.style h2 {
    font-family: "Prompt Regular";
    font-size: 40px;
    text-transform: none;
    padding: 0px;
}

.style p {
    font-family: "Merriweather Regular";
    font-size: 24px;
}

.style ul {
    list-style-type: none;
}

.style li {
    font-family: "Sofia Sans";
    font-size: 20px;
}

footer {
    position: relative;
    top: 50px;
    background-color: #ffffff;
    height: 100px;
    padding: 20px;
}

footer p {
    font-family: "Sofia Sans";
    font-size: 15px;
    font-weight: 700;
    margin: 20px 30px;
}
